<div class="container p-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-form">
                                <a class="btn-alumno shadow p-3 mb-5 rounded" data-bs-toggle="collapse"
                                    href="#formularioAlumnoRegistrado" role="button" aria-expanded="false"
                                    aria-controls="formularioAlumno">Alumno
                                    Registrado</a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="btn-form">
                                <a class="btn-alumno shadow p-3 mb-5 rounded" data-bs-toggle="collapse"
                                    href="#formularioAlumnoNoRegistrado" role="button" aria-expanded="false"
                                    aria-controls="formularioAlumno">Alumno No
                                    Registrado
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="btn-form">
                                <a class="btn-persona shadow p-3 mb-5 rounded" data-bs-toggle="collapse"
                                    href="#formularioPersonaRegistrada" role="button" aria-expanded="false"
                                    aria-controls="formularioPersona">Persona</a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="btn-form">
                                <a class="btn-persona shadow p-3 mb-5 rounded" data-bs-toggle="collapse"
                                    href="#formularioPersonaNoRegistrada" role="button" aria-expanded="false"
                                    aria-controls="formularioPersona">Persona No
                                    Registrada</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="collapse col-lg-12" id="formularioAlumnoNoRegistrado">
                    <p class="text-center">Formulario de ingreso alumno {{evento.nombreEvento}}</p>
                    <form class="shadow p-3 mb-5 bg-body rounded" method="post"
                        action="/asistencias/agregar/alumno/nuevo/evento/{{evento.idEvento}}">
                        <input type="hidden" name="idEvento" value="{{evento.idEvento}}">
                        <div class="row m-1">
                            <label class="form-label" for="matricula">Seleccione el alumno</label>
                            <select class="d-flex" name="idAlumno" id="alumno">
                                <option value="">Elegir</option>
                                {{#each alumno}}
                                <option value="{{idAlumno}}">{{matriculaAlumno}} - {{nombreCompletoAlumno}} -
                                    {{cedulaAlumno}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="row m-1">
                            <label class="form-label" for="nombreCompletoPersona">Elegir Pulsera asignada</label>
                            <select class="form-select" name="idPulsera" id="idPulsera" required>
                                <option value="">Elegir Pulsera</option>
                                {{#each pulsera}}
                                <option value="{{idPulsera}}">{{codigoPulsera}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <input type="hidden" name="idTipoPersona" value="5">
                        <div class="row m-1">
                            <button class="btn btn-success btn-block">Registrar Asistencia</button>
                        </div>
                    </form>
                </div>
                <div class="collapse col-lg-12" id="formularioAlumnoRegistrado">
                    <p class="text-center">Formulario de ingreso alumno registrado a evento: {{evento.nombreEvento}}</p>
                    <form class="shadow p-3 mb-5 bg-body rounded" action="/asistencias/agregar/alumno/registrados/evento/{{evento.idEvento}}" method="post">
                        <input type="hidden" name="idEvento" value="{{evento.idEvento}}">
                        <div class="row m-1">
                            <label class="form-label" for="matricula">Seleccione el alumno</label>
                            <select class="d-flex" name="idPersona" id="alumno2">
                                <option value="">Elegir</option>
                                {{#each personaRegistrada}}
                                <option value="{{idPersona}}">{{cedulaPersona}} - {{nombreCompletoPersona}} -
                                    {{matriculaAlumno}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="row m-1">
                            <label class="form-label" for="nombreCompletoPersona">Elegir Pulsera asignada</label>
                            <select class="form-select" name="idPulsera" id="idPulsera" required>
                                <option value="">Elegir Pulsera</option>
                                {{#each pulsera}}
                                <option value="{{idPulsera}}">{{codigoPulsera}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <input type="hidden" name="idTipoPersona" value="5">
                        <div class="row m-1">
                            <button class="btn btn-success btn-block">Registrar Asistencia</button>
                        </div>
                    </form>
                </div>
                <div class="collapse col-lg-12" id="formularioPersonaNoRegistrada">
                    <p class="text-center">Formulario de ingreso persona a {{evento.nombreEvento}}</p>
                    <form class="form-control" action="/asistencias/agregar/{{evento.idEvento}}" method="post">
                        <input type="hidden" name="idEvento" value="{{evento.idEvento}}">
                        <div class="row m-1">
                            <label class="form-label" for="nombreCompletoPersona">Nombre Completo Persona</label>
                            <input class="form-control" type="text" name="nombreCompletoPersona"
                                id="nombreCompletoPersona" required autofocus>
                        </div>
                        <div class="row m-1">
                            <label class="form-label" for="cedulaPersona">Cedula o identificacion de la persona</label>
                            <input class="form-control" type="text" name="cedulaPersona" id="cedulaPersona" required>
                        </div>
                        <div class="row m-1">
                            <label class="form-label" for="sexoPersona">Nombre Completo Persona</label>
                            <select class="form-select" name="sexoPersona" id="sexoPersona" required>
                                <option value="">Elegir Sexo</option>
                                <option value="F">Femenino</option>
                                <option value="M">Masculino</option>
                            </select>
                        </div>
                        <div class="row m-1">
                            <div class="col-md-6">
                                <label class="form-label" for="idTipoPersona">Elija el tipo de Persona</label>
                                <select class="form-select" name="idTipoPersona" id="idTipoPersona" required>
                                    <option value="">Elegir Tipo persona</option>
                                    {{#each tipoPersona}}
                                    <option value="{{idTipoPersona}}">{{descripcionTipoPersona}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" for="nombreCompletoPersona">Elegir Pulsera asignada</label>
                                <select class="form-select" name="idPulsera" id="idPulsera" required>
                                    <option value="">Elegir Pulsera</option>
                                    {{#each pulsera}}
                                    <option value="{{idPulsera}}">{{codigoPulsera}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="row mt-3 mb-2">
                            <button class="btn btn-block btn-success">Agregar Persona</button>
                        </div>
                    </form>
                </div>
                <div class="collapse col-lg-12" id="formularioPersonaRegistrada">
                    <p class="text-center">Formulario de ingreso persona Registrada a {{evento.nombreEvento}}</p>
                    <form class="form-control" action="/asistencias/agregar/registrados/evento/{{evento.idEvento}}"
                        method="post">
                        <input type="hidden" name="idEvento" value="{{evento.idEvento}}">
                        <div class="row m-1">
                            <label class="form-label" for="nombreCompletoPersona">Por favor seleccionar la
                                persona</label>
                            <select class="form-select-lg" name="idPersona" id="idPersonaRegistrada" required>
                                <option value="">Elegir Persona</option>
                                {{#each personaRegistrada}}
                                <option value="{{idPersona}}">{{nombreCompletoPersona}} - {{cedulaPersona}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="row m-1">
                            <label class="form-label" for="idPulsera">Elegir Pulsera asignada</label>
                            <select class="form-select-lg" name="idPulsera" id="idPulsera2" required>
                                <option value="">Elegir Pulsera</option>
                                {{#each pulsera}}
                                <option value="{{idPulsera}}">{{codigoPulsera}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="row mt-3 mb-2">
                            <button class="btn btn-block btn-success">Agregar Persona</button>
                        </div>
                    </form>
                </div>
            </div>


            {{!-- <div class="form-control" id="app">
                <template id="checkPerson" v-if="activePhase == 1">
                    <div class="row p-4">
                        <label for="Checkear Tipo Terpson" class="form-label">
                            Por favor indique si el ingresante es alumno
                        </label>
                        <input type="hidden" name="idEvento" value="1" v-model="checkPerson.idEvento" id="idEvento">
                    </div>
                    <div class="row p-4">
                        <button class="btn-persona" @click.prevent="goToStep(3)">Persona</button>
                    </div>
                    <div class="row p-4">
                        <button class="btn-alumno" @click.prevent="goToStep(2)">Alumno</button>
                    </div>
                </template>
                <template id="useMatricula" v-if="activePhase == 2">
                    <div class="row p-4">
                        <label for="Checkear Tipo Terpson" class="form-label">
                            Seleccione la matricula o busque por Nombre o Cédula
                        </label>
                        <select name="idAlumno" id="alumno">
                            <option value="">Elegir</option>
                            {{#each alumno}}
                            <option value="idAlumno">{{matriculaAlumno}} - {{nombreCompletoAlumno}} - {{cedulaAlumno}}
                            </option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="row p-4">
                        <button class="btn-continuar" @click.prevent="goToStep(2)">Continuar</button>
                    </div>
                    <div class="row p-4">
                        <button class="btn-volver" @click.prevent="goToStep(1)">Soy bobo me equivoque,
                            volver atras</button>
                    </div>
                </template>
                <template id="checkRegisterPersonas" v-if="activePhase == 3">
                    <div class="row p-4">
                        <label for="Checkear Tipo Terpson" class="form-label">
                            Por favor pregunte a la persona si ya fue registrado
                        </label>
                    </div>
                    <div class="row p-4">
                        <button class="btn-no" @click.prevent="goToStep(4)">NO</button>
                    </div>
                    <div class="row p-4">
                        <button class="btn-si" @click.prevent="goToStep(5)">SI</button>
                    </div>
                    <div class="row p-4">
                        <button class="btn-volver" @click.prevent="goToStep(1)">Soy bobo me equivoque,
                            volver atras</button>
                    </div>
                </template>
                <template id="personaForm" v-if="activePhase == 5">
                    <div class="row p-4">
                        <label for="Cargar nueva persona" class="form-label">
                            Seleccione La matricula o busque por nombre o cedula
                        </label>
                        <select name="" id="alumno">
                            <option value="">Elegir</option>
                            {{#each alumno}}
                            <option value="">{{matriculaAlumno}} - {{nombreCompletoAlumno}} - {{cedulaAlumno}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="row p-4">
                        <button class="btn-continuar" @click.prevent="goToStep(2)">Continuar</button>
                    </div>
                    <div class="row p-4">
                        <button class="btn-volver" @click.prevent="goToStep(1)">Soy bobo me equivoque,
                            volver atras</button>
                    </div>
                </template>
            </div> --}}
        </div>
    </div>
</div>