<div class="container p-5">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Todos los Participantes</h1>
      <a href="/participantes/agregar" class="btn btn-block btn-success mb-5">Agregar nuevo</a>
      <table class="table" id="datatable">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre del Participante</th>
            <th scope="col">Matricula Participante</th>
            <th scope="col">Carrera Participante</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {{#each participante}}
          <tr>
            <th scope="row">{{idParticipante}}</th>
            <td class="text-uppercase">{{nombreCompletoParticipante}}</td>
            <td class="text-uppercase">{{matriculaParticipante}}</td>
            <td class="text-uppercase">{{carreraParticipante}}</td>
            <td>
              <div class="btn-gruop">
                <a href="/participantes/editar/{{idParticipante}}" class="btn btn-sm btn-warning">Editar</a>
                <a href="/participantes/eliminar/{{idParticipante}}" class="btn btn-sm btn-danger">Eliminar</a>
              </div>
            </td>
          </tr>
          {{else}}
          <h2 class="text-center">No existen registros :(</h2>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>