<div class="container p-5">
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center">Asistencia a evento {{evento.nombreEvento}}</h1>
            {{#if asistencia}}
			<table class="table" id="datatable">
				<thead>
					<tr>
						<th scope="col">Nombre de la persona</th>
						<th scope="col">Cedula</th>
                        <th scope="col">Pulsera</th>
					</tr>
				</thead>
				<tbody>
					{{#each asistencia}}
					<tr>
						<td class="text-uppercase">{{nombreCompletoPersona}}</td>
                        <td class="text-uppercase">{{cedulaPersona}}</td>
						<td class="text-uppercase">{{codigoPulsera}}</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
            {{else}}
				<h2 class="text-center">No existen registros :(</h2>
            {{/if}}
		</div>
	</div>
</div>