<div class="container p-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
           <h2 class="text-center">Sorteo de Premios</h2>
           <h4 class="text-center">Evento: {{evento.nombreEvento}}</h4>
           <div class="sorteador">
                <div class="codigos" id="codigosPulseras">
                    {{#each codigos}}
                    <p>{{codigoPulsera}}</p>
                    {{/each}}
                </div>
                <a href="#" data-bs-toggle="modal" data-bs-target="#modalSortear" data-ganador="" class="btn-sortear" id="btnSortear"><i class="bi bi-dice-6"></i>SORTEAR</a>
           </div>
        </div>
    </div>
</div>
<style>
    .modal{
        background-color: #e0f2fe;
    }
</style>
<div class="modal fade" id="modalSortear" tabindex="-1" aria-labelledby="modalSortear" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Mykure System dice:</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>Ganador del Sorteo: {{ganador.nombreCompletoPersona}}</p>
                <p>Codigo Ganador del Sorteo: {{ganador.codigoPulsera}}</p>
                <p>Cedula Ganador del Sorteo: {{ganador.cedulaPersona}}</p>
			</div>
			<div class="modal-footer">
                <form action="/eventos/sorteo/guardar-ganador/{{evento.idEvento}}" method="post">
                    <input type="hidden" name="PulseraGanador">
                    <a href="/eventos/sorteo/{{evento.idEvento}}" class="btn btn-info"><i class="bi bi-star"></i> Sortear nuevo premio</a>
                    <button class="btn btn-sm btn-success"><i class="bi bi-emoji-smile"></i> Guardar Sorteo</button>        
                </form>
				
			</div>
		</div>
	</div>
</div>




