<div class="container p-5">
	<div class="report-center">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6">
					<div class="shadow p-3 mb-5 bg-body rounded">
						<div class="reports-titles-purple">
							<p>Grupos</p>
						</div>
						<div class="reports-content">
							{{#if cuentaGrupos}}
							<h2 class="text-center mt-4">{{cuentaGrupos.cuentaGrupos}}</h2>
							{{else}}
							<h2 class="text-center mt-4">Todavia no hay grupos registrados</h2>
							{{/if}}
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="shadow p-3 mb-5 bg-body rounded">
						<div class="reports-titles-blue">
							<p>Participantes</p>
						</div>
						<div class="reports-content">
							{{#if cuentaParticipantes}}
							<h2 class="text-center mt-4">{{cuentaParticipantes.cuentaParticipante}}</h2>
							{{/if}}
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="shadow p-3 mb-5 bg-body rounded">
						<div class="reports-titles-purple">
							<p>Eventos Activos</p>
						</div>
						<div class="row lista-eventos justify-content-center">
							{{#each eventos}}
							<p>{{nombreEvento}}<a href="/eventos/ver/{{idEvento}}" class="btn btn-sm btn-info">Ver
									Evento</a></p>
							{{/each}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>