<div class="container p-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Todos las personas</h1>
            <table class="table" id="datatable">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Cedula</th>
                        <th scope="col">Pulsera</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each personas}}
                    <tr>
                        <td class="text-uppercase">{{nombreCompletoPersona}}</td>
                        <td class="text-uppercase">{{cedulaPersona}}</td>
                        <td class="text-uppercase">{{codigoPulsera}}</td>
                        <td>
                            <div class="btn-gruop">
                                <a href="/personas/editar/pulsera/{{idPulsera}}"
                                    class="btn btn-sm btn-warning">Editar</a>
                            </div>
                        </td>
                    </tr>
                    {{else}}
                    <h2 class="text-center">No existen registros :(</h2>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>